.card-deck {
  margin: 80px;
}

.jumbotroncardsdeck {
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  border: none;
}


@media (max-width: 812px) {
  .card-deck {
    flex-direction: column;
  }

  .card {
    width: 100% !important;
    margin-bottom: 15px !important;
  }

}



.prioritiesdiv {
}

.storiesdiv {
  margin-top: 60px;
}

.footer {
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  margin-top: 100px;
}

.footername {
  margin-top: 60px;
}

#footersocial {
  margin-top: 45px;
  display: flex;
}

#footersocial > a {
  margin: 20px;
  color: #696969;
  transition: 0.15s ease;
}

#footersocial > a:hover {
  color: #000;
}


#footersocial > a:hover {
  text-decoration: none;
}

#footersmall {
  color: #000;
}

#midfooter {
  text-align: center;
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {

  

  #midfooter {
    text-align: initial;
  }

  .footer {
    height: 300px;
  }

  .footer > .container > .row > .col-md-5 > img {
    justify-content: center;
    align-items: center;
  }

  .footer > .container > .row > .col-md-5 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #footersocial {
    display: flex;
    justify-content: center;
  }

  #footersmall {
    display: flex;
    justify-content: center;
  }

}

html {
  scroll-behavior: smooth;
}

